// assets/css/variables.scss
$primary-color: theme('colors.tmdb-blue');
$secondary-color: theme('colors.tmdb-dark');
$accent-color: theme('colors.tmdb-light');

$header-height: 64px;
$footer-height: 60px;
$sidebar-width: 250px;

$border-radius: 8px;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);